* {
  margin: 0;
}

.main {
  margin-top: 20vh;
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center;
}

.nav {
  border: 5px solid black;
  margin-top: 20px;
}

.nav li {
 margin-top: 20px; 
 margin-bottom: 25px;
 list-style: none;
}

.nav li a {
  color: black;
  text-decoration: none;
}
